250m_australia_hillshade.tif
Australian_Bathymetry_and_Topography_2023_250m_MSL_cog.tif
AusBathyTopo__Australia__2024_250m_MSL_cog.tif
distance-raster.tif
status_raster.tif
SI1031-combined-10m-final-coverage-interim.tiff
SI1031_hillshade.tif
/ausbath_09_v4
reference_depth_100m.tif
AusBathyTopo__Australia__2024_250m_MSL_cog.tif.aux.xml
DoT_south-coastal-lidar.tif
NESP-MERI_Natural_Values_Ecosystems.tif
predicted_habitat-TemperateAus_broadscale_predArea_binomial_reef.tif
south-west-corner_merged-multibeam.tiff
Geographe-bay_lidar.tif
binomial_preds_reef_range_multi.tif
ecosystem-types-27class-naland.tif
ecosystem-types-27class-naland.tif.aux.xml
GeographeBayMarineFuturesMultibeamDepth_WGS84z50s.tif
binomial_preds_reef_range_multi.tif.aux.xml
